.app {
  padding: 15px 10px;
  width: 320px;
  height: 450px;
  background-color: #ffffff;
  font-weight: 100;
}

.app-title {
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;

}

.config-group {

}

.input-group {
  margin-bottom: 5px;

}

.input-group__label {
  display: flex;
  justify-content: space-between;
}

.input-group__input {
}

.button-generate {
  all: unset;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
  padding: 5px 0px;
  border: 1px solid #b9b9b9;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;

  transition: all 0.15s;


  &:hover {
    box-shadow: inset 0px 0px 16px 0px #dedede;
    transition: all 0.5s;
  }

  &:active {
    box-shadow: inset 0px 0px 16px 7px #dedede;
    transform: scale(0.95);
  }
}

.password-text {
  word-break: break-all;
  margin-bottom: 15px;
  height: 100px;
  overflow-y: auto;
  border: 1px solid #b9b9b9;
  padding: 8px 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.toggle-group {
  margin-bottom: 5px;
}

.toggle-group__label {
  display: flex;
  justify-content: space-between;
}

.toggle-group__button {
}

.tabs-container {

  .tabs-list {
    display: flex;
    flex-direction: row;
    &__label {
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        box-shadow: inset 0px 20px 20px 0px #dedede;
        transition: all 1s;
      }

      &_active {
        border: 1px solid #b9b9b9;
        border-bottom: none;
        &:hover {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }

  .tab-view {
    display: flex;
    flex-direction: column;
  }
}

.passwords-container {
  overflow-y: auto;
  max-height: 300px;
  padding-top: 15px;
  .password-record {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;

    &__password {
      max-width: 250px;
      overflow-y: hidden;
      margin-bottom: 10px;
    }

    &__date {
      font-size: 12px;
    }
  }
}


